/* Cards.css */
.carousel-container {
  margin: 20px auto;
  max-width: 900px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.module-name {
  font-size: 1.5rem;
  color: #007bff; /* Change the color of the module name */
  margin-bottom: 20px; /* Add some margin to separate it from the description */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Set a fixed height for the module name container */
}

.module-name span {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333333;
}

.card p {
  font-size: 1rem; /* Adjust the font size for the description */
  margin: 10px 0;
  color: #777777;
}

.card a {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.card a:hover {
  background-color: #0056b3;
}

.slick-prev,
.slick-next {
  font-size: 1.5rem;
  color: #007bff;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  color: #0056b3;
}

.description-text {
  font-size: 0.9rem;
  color: #555;
}

.date-label {
  font-size: 0.8rem;
  color: #888;
}

.date-label span {
  font-weight: bold;
}
