/* styles.module.css */

.message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
  }
  
  .success {
	background-color: #4caf50; /* Green background color for success message */
	color: #ffffff; /* White text color for success message */
  }
  
  .error {
	background-color: #f44336; /* Red background color for error message */
	color: #ffffff; /* White text color for error message */
  }
  